<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello World</title>
  </head>
  <body>
	<h1>{{ title }}</h1>
	<p>{{ message }}</p>
	<form action="/" method="POST" enctype="multipart/form-data">
		<div>
			<label for="ck1">Afgahanistan：</label>
			<input type="checkbox" id="ck1" name="checkbox" value="Afgahanistan">
		</div>
		<div>
			<label for="ck2">Australia：</label>
			<input type="checkbox" id="ck2" name="checkbox" value="Australia">
		</div>
		<div>
			<label for="ck3">England：</label>
			<input type="checkbox" id="ck3" name="checkbox" value="England">
		</div>
		<div>
			<label for="ck4">France：</label>
			<input type="checkbox" id="ck4" name="checkbox" value="France">
		</div>
		<div>
			<input type="submit" value="SEND">
		</div>
	</form>
  </body>
</html>


    